.container {
    margin: 0 auto;
    box-sizing: border-box;
}

.columnHolder {
    width:1080px;

}

.leftSide {
    flex:50%;
    float:left;
    display:block;
}

.rightSide {
    flex:50%;
    float:left;
    display:grid;
    margin-left:20px;
}

.componentContainer {
    width: 1040px;
    padding: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.bcmessage {
    padding:40px;
    text-align: center;
    font-size: 60px;
}
.firstRow{
    display:flex;
    height:708px;
    margin-bottom: 20px;
}
.secondRow{
    display:flex;
    height:280px;
}
