.container {
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .component {
    width: calc(50% - 70px);
    margin-right: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    float: left;
    display: inline-block;
    border-radius: 3%;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }