.container {
    margin: 0 auto;
    box-sizing: border-box;
}

.columnHolder {
    width:1080px;

}

.leftSide {
    width:500px;
    margin:20px;
    float:left;
    display:block;
}

.rightSide {
    width:500px;
    float:left;
    display:grid;
    margin-left:20px;
    margin-bottom: 20px;
}

.componentContainer {
    width: 1080px;
    display:flex;
    padding:20px
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.bcmessage {
    padding:40px;
    text-align: center;
    font-size: 60px;
}

