.button{
    display: grid;
    justify-content: center;
    background-color: white;
    width: 150px;
    height: 25px;
    border-radius: 0.5rem;
    border: solid black;
    margin: 10px;
    font-weight: bolder;
}
