.title {
    color: #042b5e;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid #042b5e;
    text-align: center;
    margin-bottom: 20px;
}

.noticesInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fullScreen {
    font-size: 200%;
}

.multiScreen {
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 10px #888888;
    border-radius: 10px;
    font-size: 25px;
    height:600px
}

.fullScreen, .multiScreen {
    /* For absolute positioning to work with pagination */
    position: relative;
}

.notice {
    margin-bottom: 15px;
}

.noticeTitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: #042b5e;
}

.indicatorContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    /* So they display at the bottom of the page */
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.indicator {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
}

.activeIndicator {
    background-color: #042b5e;
}
