.header {
    font-size: 2.5rem;
    padding: 20px;
    background-image: url('../images/header1.jpg');
    background-size: cover;
    color: #4f4747;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    width: 1040px;
    height: 295px;
    
}

.container {
    display: flex;
    max-height: 300px;
    justify-content: space-between;
    margin: auto;
}

.actions {
    display: flex;
    column-gap: 1rem;
}

.action {
    background-color: transparent;
    border: none;
    color: #4f4747;
    font-size: 1rem;
    font-weight: 700;
    text-align: right;
    cursor: pointer;
    width: 1080px;
}

.logo {
    width: 450px
}