.optionsForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 500px;
    margin: 20px auto;
}

.optionsContainer {
    display: flex;
    gap: 20px;
    width: 100%;
}

.column {
    flex-basis: 50%;
}

h1 {
    margin-bottom: 5px;
    width: 100%;
}

.label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox {
    margin-right: 5px;
}
