.container {
    width: 90%;
    margin: 50px auto;
}

.photo {
    width: 200px;
    float:left;
    display:inline;
    margin:20px;
    position:relative;
  }

.photo img {
  width:100%;
}

.delete {
  position:absolute;
  right:5px;
  top:5px;
  border-radius: 50%;
  padding: 0.5em;
  width: 30px;
  height: 30px;
  border: 2px solid rgb(18, 18, 64);
  color: rgb(18, 18, 64);
  text-align: center;
}
.delete:hover {
  border: 2px solid #af2828;
  background-color: #af2828;
    color: #fff;
}

