.fullScreen {
    font-size: 200%;
    text-align:center;
}

.multiScreen img {
    width:60px;
}
.multiScreen .houseEmblem {
    width:60px;
    margin-right:10px;
    float:left;
    display: block;
}
.multiScreen .houseEmblem p {
    margin:0px;

}
.multiScreen .emblemHolder {
    margin-left: 50px;
}

.multiScreen {
    text-align:center;
    box-shadow: 2px 2px 10px #888888;
    border-radius:10px;
    font-size:25px;
    padding:20px;
    margin-bottom:20px;
    height:408px
}

.pointsTitle {
    font-size: 1.5rem;
    color: #042b5e;
}

h1 {
    line-height:50px;
    padding:0px;
}
