.fullScreen {
    font-size: xx-large;
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.multiScreen {
    padding:20px;
    text-align:center;
    box-shadow: 2px 2px 10px #888888;
    border-radius:10px;
    font-size:25px;
    width:590px;
}

.eventTitle {
    padding-top: 20px;
    font-size: 1.5rem;
    color: #042b5e;
}

.eventList {
    list-style-type: none;
}

.text {
    width: 420px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}

.fullScreen .text {
    padding-left: 0;
}

.eventItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 5px;
    align-items: center;
    font-size: 1.2rem;
}

.eventName {
    text-align: left;
}

.eventDate {
    text-align: left;
}

.photo {
    width: 50px;
    float:left;
    display:inline;
    margin:20px;
    padding-right: 40px;
    position: relative;
    border-radius: 50%;
  }

.fullScreen .photo {
    display: flex;
    justify-content: center;
    padding-right: 0;
}

.fullScreen .photo img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.circleLarge {
    border-color: white;
    border-style: solid;
    border-width: 22px;
    background: transparent;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
}

.fullScreen .circleLarge {
    display: none;
}

.overlay {
    z-index: 9;
    margin: 20px;
    background: #009938;
  }

