.slideshow img {
    display: inline-block;
    width: 1040px;
    height:590px;
    margin-left: 20px;
    border-radius:20px;
    object-fit: cover;

}

.fullScreen {
    height: 100vh;
    display: flex;
}

.fullScreen .slideshow {
    margin: auto 0;
}

.fullScreen .slideshow img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    margin-left: 0;
}
