.weatherContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin: 0 auto;
    padding: 1rem;
    width: 30%;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.weatherTitle, .time {
    font-size: 1rem;
}

.weatherInfoContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.temperature {
    font-size: 60px;
}

.weatherIcon {
    width: 100px;
    height: 100px;
}

.superscript {
    font-size: 50%;
}

