.fullScreen {
    text-align: center;
    height: 100vh;
}

.multiScreen {
    padding:20px;
    text-align:center;
    box-shadow: 2px 2px 10px #888888;
    border-radius:10px;
    font-size:25px;
    width:430px;
    margin-right:20px;
}

.eventTitle {
    font-size: 1.5rem;
    color: #042b5e;
}

.fullScreen .eventTitle {
    padding-top: 100px;
}

.eventList {
    list-style-type: none;
}

.fullScreen .eventList {
    padding-top: 20px;

}

.eventItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 5px;
    align-items: center;
    font-size: 1.2rem;
}

.fullScreen li {
    margin-bottom: 20px;
}

.eventName {
    text-align: left;
}

.fullScreen .eventName {
    text-align: right;
    margin-right: 40px;
}

.eventDate {
    text-align: left;
}
