.weatherContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin: 0 auto;
    padding: 1rem;
    width: 25%;
    border-radius: 10px;
    color:#fff;
    backdrop-filter: blur(5px);
}

.weatherTitle {
    font-size: 1rem;
}

.time {
    font-size: 0.8rem;
    /*font-weight: 300;*/
    color: #ccc;
}

.weatherInfoContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
    font-size: 1.5em;
}

.weatherIcon svg {
    width: 4.5rem;
    height: 4.5rem;
}

.superscript {
    font-size: 50%;
}

