.container {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 920px;
    margin-left: 21%;
    justify-content: space-between;
    border: 3rem;
}

.adminPage {
    min-height: 1200px;
    background-color: #fff;
    padding:20px 0;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    border: 3rem;
    margin: auto;
    color: white;
}