.header{
  font-size: 2.5rem;
  padding: 1rem;
  background-color: #777764;
  color: #4f4747;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}

.main{
  flex: 1;
  padding: 1rem;
  background-color: #ebebde;
}