body {
  margin:auto;
  width:1080px;
  background-color: #efefef;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  text-decoration: none;
  color: inherit;
}
