.input{
    background-color: white;
    display: flex;
    color: black;
    width: 250px;
    height: 25px;
    border-radius: 0.5rem;
    margin: 10px;
    border: solid #4f4747;
}

::placeholder{
    color: black;
    font-weight: bolder;
}